body {
    background-color: #69c1f8;
    font-family: Arial, sans-serif;
}

.logo-header {
  display: flex;
  align-items: center;
  gap: 1rem; /* spacing between logo and text */
}

.logo-header img {
  width: 60px; /* adjust size as needed */
  height: auto;
}
