/* ====================================
  Page Layout Component Styles
  =============================== */

/* ====================================
  Layout Shell
  =============================== */

.layoutShell {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layoutContainer {
  width: 100%;
  max-width: var(--layout-width);
  margin: calc(var(--size-header) + var(--space-lg)) auto 0;
  flex: 1 0 auto;
}

@media (min-width: 64rem) {
  .layoutContainer {
    max-width: var(--layout-width-lg);
  }
}
