@import "./resets.css";
@import "./colors.css";
@import "./spacing.css";
@import "./radius.css";
@import "./shadow.css";
@import "./z-index.css";
@import "./typography.css";

:root {
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: var(--size-page-min);
  background-color: var(--color-background);
}

/* Layout + spacing utilities */
.layout__container {
  width: 100%;
  max-width: var(--layout-width);
  margin: calc(var(--size-header) + var(--space-6xl)) auto 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

button {
  border-radius: var(--radius-md);
  border: var(--border-1) solid transparent;
  padding: var(--space-sm) var(--space-lg);
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  cursor: pointer;
  transition:
    background-color 0.25s,
    border-color 0.25s;
}
button:hover {
  background-color: var(--color-primary-strong);
}

@media (min-width: 64rem) {
  .layout__container {
    max-width: var(--layout-width-lg);
  }
}
